*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

ReactAndroid/build/

# app
app/.idea/caches
app/.idea/libraries
app/.idea/modules.xml
app/.idea/workspace.xml
app/.idea/navEditor.xml
app/.idea/assetWizardSettings.xml

# android
android/.idea/caches
android/.idea/libraries
android/.idea/modules.xml
android/.idea/workspace.xml
android/.idea/navEditor.xml
android/.idea/assetWizardSettings.xml